@use "../../scss/abstract/index" as *;

.btn {
  border: none;
  @include flex-column();
  font-size: clamp(1.4rem, 2vw, 0.8rem);
  border-radius: 50px;

  &:hover {
    text-decoration: none;
  }

  &--primary {
    background: var(--iris);
    color: white;
    padding: 0.5rem 3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
    &:hover {
      color: white;
      background: var(--indigo);
    }
  }
  &--primary_center {
    background: var(--iris);
    color: white;
    padding: 0.5rem 3rem;
    margin: 15px auto;
    &:hover {
      color: white;
      background: var(--indigo);
    }
  }

  &--secondary {
    background: $light;
    color: var(--default-links);
    font-size: clamp(1.4rem, 1.2vw, 2rem);
    line-height: 1.6;
    padding: 0.8rem 2rem;
    font-weight: 900;
    line-height: 1;
    &:hover {
      color: var(--indigo);
    }
  }

  &.icon__btn {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}
