@use "../../scss/abstract/index" as *;

.splash-screen {
  background-image: url("../../assets/imgs/Background_cover.svg");
  background-position: left center;
  margin: auto;
  background-size: 90%;
  width: 70%;
  @include media(mobile-l) {
    background-position: center center;
    height: 90vh;
  }

  .page {
    margin: 0;
    height: 100%;

    .lp-content {
      width: 100%;

      @include media(mobile-l) {
        width: 50%;
      }
      height: 100%;
      justify-content: center;
    }
  }

  .page__inner {
    height: 100%;
  }

  // .quiz-cover {
  //   background-image: url("../../assets/imgs/Background_cover.svg");
  //   background-position: left center;
  // }
}
